/* Mobile-first CSS */

/* Font faces */
@font-face {
    font-family: 'poppins-Regular';
    src: url('../assets/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'poppins-black';
    src: url('../assets/fonts/Poppins-Black.ttf');
}

/* Font faces */

/* Global styles */
html,
body {
    font-family: 'poppins-Regular';
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Global styles */

/* Common CSS */
.clove-logo {
    transition-duration: 0.3s;
}

.clove-logo:hover {
    transform: scale(1.05);
}

.bg-main {
    background-color: #EA9619 !important;
}

.text-main {
    color: #EA9619 !important;
}

.text-secondary {
    color: #FFFFFF !important;
}

a {
    text-decoration: none;
    color: #EA9619;
    font-weight: bold;
}

a:hover {
    color: #EA9619;
}

.btn {
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-weight: bold;
}

.btn-primary {
    background-color: #EA9619 !important;
    color: #fefefe;
}

.grd-primary {
    background: linear-gradient(to bottom, #FFFFFF 0%, #FCF0DD 20%, #FAE5C6 37%, #F4CB8C 52%, #EA9619 71%);
}

.clove-card {
    border: none;
    border-radius: 1rem;
}

.clove-logo-p1 {
    max-height: 15rem;
    /* adjusted for mobile */
    width: auto;
}

/* Mobile-specific styles */
/* .page-1 {
    min-height: 100vh; /* use viewport height instead of percentage */
/* width: 100%; */
/* padding: 1rem; add some padding for mobile */
/* } */

/* Tablet and desktop styles */
@media (min-width: 768px) {
    .clove-logo-p1 {
        max-height: 30rem;
        /* adjust for tablet and desktop */
    }

    .page-1 {
        padding: 2rem;
        /* increase padding for tablet and desktop */
    }
}

/* Desktop-specific styles */
@media (min-width: 1200px) {
    .header-main-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        min-height: 10vh;
    }

    .header-logo
    {
        margin-left: 0.8rem;
    }

    .header-links {
        margin-right: 1rem;
        text-align: right;
        display: flex;
        align-items: center;
    }

    .header-links a {
        margin-right: 3rem !important;
    }

    .page-1 {
        display: flex;
        position: relative;
        background: linear-gradient(to bottom, #FFFFFF 0%, #FCF0DD 20%, #FAE5C6 37%, #F4CB8C 52%, #EA9619 71%);
        min-height: 80vh;
    }

    .big-clove-layer-1 {
        background-color: rgba(0, 255, 255, 0);
        min-height: 80vh;
        min-width: 100%;
        filter: blur(0.5rem);
    }

    .clove-logo-p1
    {
        float: right;
        margin-top: 5rem;
        filter: opacity(0.8);
    }
}